* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1a3c5e; 
    color: white;
    padding: 20px;
    text-align: center;
}

input {
    padding: 12px;
    width: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2e86ab;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
}

button:hover {
    transform: scale(1.06);
    background-color: #246b89;
}

section:first-of-type {
    background-color: #2e86ab;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 10px;
}

section:first-of-type p {
    margin-top: 10px;
}

section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 20px;
}

section:nth-of-type(2) div {
    background-color: white;
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

section:nth-of-type(3) {
    margin: 20px;
}

section:nth-of-type(3) h2 {
    margin-bottom: 15px;
}

section:nth-of-type(3) > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

section:nth-of-type(3) > div > div {
    background-color: white;
    flex: 1;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s ease;
}

section:nth-of-type(3) > div > div:hover {
    transform: translateY(-5px);
}

@media (max-width: 480px) {
    section:nth-of-type(2) {
        flex-direction: column;
    }

    section:nth-of-type(3) > div {
        flex-direction: column;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}

.forecast-section {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.forecast-card {
    min-width: 120px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.2s ease;
}

.forecast-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.forecast-title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

#error-message {
    color: red;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

#loading {
    text-align: center;
    color: #2e86ab;
    font-weight: bold;

}

#weatherIcon {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
}